html {
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "FranziskaWebW03Book";
  src: url(../fonts/FranziskaWebW03Book.ttf) format("truetype");
}

@font-face {
  font-family: "FranziskaWebW03Light";
  src: url(../fonts/FranziskaWebW03Light.ttf) format("truetype");
}

@font-face {
  font-family: "DINNextLTArabic-Light";
  src: url(../fonts/DINNextLTArabic-Light.ttf) format("truetype");
  src: local('☺'), url(../fonts/DINNextLTArabic-Light.ttf) format("truetype");
}

@font-face {   
  font-family: "DINNextLTArabic-Regular";
  src: url(../fonts/DINNextLTArabic-Regular.ttf) format("truetype");
  src: local('☺'), url(../fonts/DINNextLTArabic-Regular.ttf) format("truetype");
}

h6, h5, h4, h4, h3, h2, h1{
	width:100%;
  font-family: "FranziskaWebW03Book", "Times New Roman", Times, serif !important;
	color:#1f355e!important;
}
html, body {
  height: 100%;
}

body, p {
  font-family: "FranziskaWebW03Light", "Times New Roman", Times, serif;
  color:#404041;
  font-size:22px;
}


a:hover {
  text-decoration:none!important;
  color: #797a7c!important;
}

.btn-link:hover, 
  .btn.focus, 
  .btn:focus, 
  .btn-link.focus, 
  .btn-link:focus {
    text-decoration: none!important;
    color: #595959!important;
}

/* NEW */

#section0{
 
}
.section{
  padding: 80px 0;
  clear: both;
}
#section0.section{
  padding: 0;
}
.main_slider{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.column_qual{
  flex: 1;
  position: relative;
}
.image_side{
  height: 100%;
}
.image_side img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.text_side{
  
  display: flex;
  justify-content: center;
}
.internal_text{
  max-width: 500px;
}
.no_padding_top{
  padding-top: 0 !important;
}
.full_width_bg_img{
  width: 100%;
  height: 300px;
  background-image: url(../imgs/new/wwd_lg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.full_width_bg_img.concept_creation{
  background-image: url(../imgs/new/concept_creation_bg.jpg);
}
.full_width_bg_img.sustainability{
  background-image: url(../imgs/new/sustainability.jpg);
}
.our_company_wrapper{
  background-image: url(../imgs/new/dark_bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  padding: 90px 0;
}
.blue_bg{
  background-image: url(../imgs/new/dark_bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  padding: 90px 0;
}
.flex-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dark_bg{
  color: #fff;
}
.dark_bg *{
  color: #fff !important;
}
.text_align_left *{
  text-align: left !important;
  
}
.padding_bottom_0{
  padding-bottom: 0 !important;
}
/* END NEW */

.white {
  color:#fff!important;
}

.section-title {
  letter-spacing: 4px;
  font-family: "FranziskaWebW03Book", "Times New Roman", Times, serif;
  margin-bottom: 30px;
  font-size:34px;
}

.headline  {
  font-family: "FranziskaWebW03Bold", "Times New Roman", Times, serif;
  font-size:34px;
}

.subheadline  {
  font-family: "FranziskaWebW03Bold", "Times New Roman", Times, serif;
  color:#9b9b9b!important;
  font-style:italic;
  font-size:30px;
}

.fleft {
  float: left;
}

.fright{
  float: right;
}

.tleft {
  text-align: left;
}

.tright{
  text-align: right;
}
#footer{
  padding: 150px 0;
}
.sus_icon img, .objective_icon img{
  max-width: 70px;
}

/* Fixed header
* --------------------------------------- */
  #header{
  	position:fixed;
  	height: auto;
  	display:block;
  	width: 100%;
  	background: #1f355e;
  	z-index:9;
  	text-align:center;
  	color: #fff;
  	padding: 0;
    top:0px;
    transition: all 0.2s ease-in-out;
  }

  #header .container {
    padding:0;
  }

  .is-equal-row {
    display: table;
    width:100%;
    margin:0;
  }

  .is-equal-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding:0;
  } 

  .menu{
    text-align: left;
  }

  .logo img {
    margin-left:auto;
    margin-right:auto;
    width:75%;
  }

  .lang{
    text-align: right;
    font-family: "DINNextLTArabic-Regular", "Times New Roman", Times, serif;
    font-size:24px;
  }

  /* Dropdown Button */
  #header .btn {
    color: white;
    border: none;
    background: none;
    padding: 6px 0;
    font-size:24px;
  }

  
button#dropdownMenuButton:hover,
button#dropdownMenuButton:focus,
button#dropdownMenuButton:active{
  outline: none;
  box-shadow:none;
}

  #dropdownMenuButton i:focus, 
  #dropdownMenuButton i:active {
    color:#fff;
  }

  #header .dropdown-menu.show {
    background-color:transparent;
    border: none;
    box-shadow: none;
    border-radius:0;
  }

  #header #menu {
    list-style: none;
    padding:.5em;
    margin: 0;
    background: #404041;
    color: #fff;
    min-width: 210px;
    font-size: 20px;
  }

  #header .menu-item a {
    color: #fff;
  }

  #header .menu-item a:hover {
    color:#fff;
    padding-left: .4em;
    transition: .3s;
  }


  #header .dropdown-menu {
     background-color: #f1f1f1;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  #header .menu-item {
   padding: .1em .5em;
   border-bottom: 1px solid #717171;
  }


  #header .menu-item.property {
    background:#a3402a;
  }

  #header .menu-item.holding {
    background:#1c2b39;
  }
.whitebox_new{
    /*z-index:99;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
  }
  .whitebox_new span{
    font-size: 25px;
    display: inline-block;
    text-align: center;
  }
  .whitebox_new .tagline{
    text-align: center !important;
  }
  .whitebox_new h1.tagline{
    text-align: center !important;
    line-height: 30px;
  }
  .whitebox {
    z-index:99;
    position: absolute;
    margin-left: -40px;
    top: 10em;
  }
  img{
    max-width: 100%;
  }
  .tagline {
    /* background:  rgba(225,225,225,0.8); */
    padding: 30px 20px;
    text-align: left;
    font-size:40px;
  }
/* Centered texts in each section
* --------------------------------------- */
  .fp-tableCell {
    padding-top:4%;
  }

  .section{
    text-align:center;
  }

  .animated {
      -webkit-animation-duration:2s;
      -webkit-animation-delay: 2s;
      animation-duration: 2s;
      animation-delay: 2s;
  }

/* Section 0 - Home
 * --------------------------------------- */

  #section0{
  	/* background-image: url(../imgs/new/main1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom; */
  }

  #section0 .fp-tableCell {
    vertical-align: top;
    padding-top: 6%;
  }

  .whitebox {
    z-index:99;
    position: absolute;
    margin-left: -40px;
    top: 10em;
  }

  .tagline {
    /* background:  rgba(225,225,225,0.8); */
    padding: 30px 20px;
    text-align: left;
    font-size: 40px;
     font-family: "FranziskaWebW03Book", "Times New Roman", Times, serif;
  }
  .single_unit_wwd img{
    margin-bottom: 10px;
  }
  .single_project{
    text-align: left;
  }
  .single_project p{
    font-size: 15px;
    display: flex;
    gap: 10px;
    margin-bottom: 0;
    align-items: flex-start;
  }
   .single_project img{
    margin-bottom: 10px;
   }
  .img_txt_wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    text-align: left;
    gap: 30px;
  }
  .our_services_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .single_service{
    text-align: left;
    margin-bottom: 15px;
  }
  .single_service li{
    font-size: 19px;
  }
   .single_service > img{
    max-width: 40px;
    margin-bottom: 5px;
   }
  .img_bg{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .img_bg_1{
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .value_added{
    text-align: left;
  }
  .value_added li, .value_added p{
    font-size: 20px;
  }
  .single_service h3{
    margin-top: 0px;
  }
  .special_occasion_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
  }
  .special_occasion_wrapper .half_div{
    flex: 1;
    box-sizing: border-box;
    
  }
  .main-image {
    padding:0;
    min-height:400px;
    height:550px;
    max-height:800px;
    overflow:hidden;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
  }

/* Section 1 - About
 * --------------------------------------- */
  #section1 {
    /*background-image: url(../imgs/graybg.jpg);
    background-size:cover; */
  }

  #section1 .headline {
    width: 80%;
    margin: 10px auto 20px;
  }

  .sublogo {
    margin-left: auto;
    margin-right: auto;
  }

/* Section 2 - Specialty
 * --------------------------------------- */
  
  #section2 {
    background-image: url(../imgs/graybg.jpg);
    background-size:cover;
  }

  .speciality.desktop {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
   }

  .speciality-content {
    text-align: justify;
  }

  .speciality-services {
    margin-top: 20px;
  }

  nav.specialty {
    top: 210px;
    position: absolute;
    right: 50%;
  }

  #droparea {
    width: 320px;
    height: 320px;
    padding: 1%;
    text-align: center;
    border: 4px solid #1f355e;
    border-radius: 100%;
    position: absolute;
    top: -130px;
    right: -150px;
  }

  .service-title {
    position: absolute;
    vertical-align: bottom;
    bottom: 40px;
    background:  rgba(225,225,225,0.8);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    left: 20%;
  }

  .service-image {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  } 

  li.specialty-item {
    list-style: none;
  }

  a.specialty-item {
    position: absolute;
    text-decoration: none;
    width:60px;
    height:60px;
    padding:10px;
    border-radius:50%;
    line-height:1.5em;
    text-align:center;
    background-color: #404041;
  }

  h6.service-left {
    position: absolute;
    left: -110px;
    width: 100px;
    text-align: right;
    margin:0px;
  }

  h6.service-right {
    position: absolute;
    right: -110px;
    text-align: left;
    width: 100px;
    margin:0px;
  }

  h6.service-top {
    position: absolute;
    top: -30px;
    text-align: center;
    width: 100px;
    left: -20px;
  }

  h6.service-bottom {
    position: absolute;
    bottom: -50px;
    text-align: center;
    width: 80px;
    left: -10px;
  }

  img.service-icon {
    width: 90%;
    padding: 5px;
  }

  #btnservice7 h6.service-right {
    margin-top: -10px;
  }

  #btnservice9 h6.service-right {
    margin-top: 15px;
  }

   #btnservice10 h6.service-right {
    margin-top: 15px;
  }

  #btnservice13 h6.service-left {
    margin-top: 10px;
  }

  #btnservice1 h6.service-left {
     margin-top: 10px;
  }

  #btnservice2 h6.service-left {
     margin-top: 15px;
  }

  #btnservice4 h6.service-top {
    left:-25px;
  }
  /* Service for Mobile */

  .service-box-left, .service-box-right {
    width:50%;
    float:left;
    padding: 0 10px;
  }

  .mobile-tablet .service-item-icon {
    float: none;
    background: gray;
    padding: 5px;
  }

  .servicebox {
    min-height:110px;
  }

/* Section 3 - People
 * --------------------------------------- */
  #section3{
    background-image: url(../imgs/graybg.jpg);
    background-size:cover;
  }


  .people-left {
    background:#1f355e;
    padding:30px;
    min-height:100px;
    height: 440px;
    overflow:hidden;
    text-align:left;
  }

  .people-right {
    min-height:100px;
    height: 440px;
    overflow:hidden;
  }

  .people-image {
    border: 8px solid #1f355e;
    height: 440px;
    overflow: hidden;
  }

  .peoplegroup {
    width:100%;
  }

/* Section 4 Expertise
 * --------------------------------------- */
  #section4{
    background-image: url(../imgs/graybg.jpg);
    background-size:cover;
  }

  .content-inner.expectations {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    min-height:100px;
    height: 350px;
    overflow:hidden;
  }

  .content-left.expectations  {
    float:left;
    text-align:left;
    background:#404041;
    height:100vh;
    min-height:100px;
    color:#fff!important;
    overflow:hidden;
  }

  .row.expectations  {
    padding: 40px;
  }

  .content-right.expectations  {
    min-height:100px;
    height: 350px;
    float: right;
    text-align:left;
    overflow:hidden;
  }

  .imageeexpectations  {
    min-height:100px;
  }

  .blue-bar {
    background:#1f355e;
    min-height:100px;
    height:100vh;
    margin:0 10px;
    padding:0px;
  }

/* Section 5 Values
 * --------------------------------------- */

  #section5{
    background-image: url(../imgs/graybg.jpg);
    background-size:cover;
  }

  .content-inner.values {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .content-left.values {
    float:left;
    text-align:left;
    padding: 0;
    height:auto;
    min-height:300px;
    color:#1f355e!important;
  }

  .content-right.values {
    float:right;
    height:auto;
    min-height:100px;
    text-align:left;
  }

  .values-content {
    float:right;
    border: 4px solid #1f355e;
    padding: 25px 40px 35px 40px;
    height:auto;
    min-height:100px;
    text-align:left;
    width:90%;
  }

  .card {
    background: transparent!important;
    border: none !important;}

  .card-header {
    padding:0px!important;
    background-color: transparent!important;
    border-bottom: 1px solid #404041;
  }

  .card-header h4{
    margin:0px;
  }

  .card-body {
    background:#1f355e;
    color:#fff!important;
    padding: 20px 30px 10px;
  }

  .card-header .btn-link {
    font-weight: 400;
    color: #1f355e;
    background-color: transparent;
    width:100%;
    text-align:left;
     font-size:22px;
  }

  .card-header .btn-link i {
    text-align:right;
    float:right;
  }


  button.btn.btn-link.values.collapsed:hover,
  button.btn.btn-link.values.collapsed:active,
  button.btn.btn-link.values.collapsed:focus {
    outline:none;
  }

  .listvalues {
    list-style: disc;
    padding: 0 0 0 20px;
  }

/* Section 6 Contact
 * --------------------------------------- */
  #footer{
    background-image: url(../imgs/bgcontact.jpg);
     background-size:cover;
  }

  .content-left.contactbox{
    text-align:left;
    padding-right:10%;
  }

  .content-right.contactbox{
    text-align:left;
    padding-left: 10%;
  }

  p.map-button {
    margin-top:20px;
  }

  .form-control{
    border-radius: 0;
    height: auto;
    margin-bottom: 0.5em;
    padding: 0.3em 0.8em;
  }

  .send-now-btn{
    background: #6C6D70;
    border: none;
    color: #FFF;
    cursor: pointer;
    float: right;
    margin-top: 0.3em;
    padding: 10px;  
  }

  .send-now-btn:hover,
  .send-now-btn:active,
  .send-now-btn:focus {
    background: #FFFFFF;
    color: #6C6D70;
  }

  .directionbutton {
    background-color: #3E3E3F;
    border: none;
    color: #F8FFED;
    cursor: pointer;
    margin-top: 0.3em;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .directionbutton a {
    color:#fff;
  }

  .directionbutton:hover {
    background: #1c2b39;
  }

  .overlay {
    position: absolute;
    z-index:99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }

  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .footer .dropdown-menu{
    background-color: #3E3E3F;
    color: #CDFFFB;
  /*  left: unset !important;  */
    padding: 0;
    right: unset !important;
  }

  .footer .dropdown-menu li {
    cursor: pointer;
    border-bottom:1px solid #fff;
  }

  .footer .dropdown-menu li:active,
  .footer .dropdown-menu li:focus,
  .footer .dropdown-menu li:hover {
    background: #FFFFFF;
    color: #000;
  }

  .dropdown-menu > li > a:hover, 
  .dropdown-menu > li > a:focus {
    background: #FFFFFF;
    color: #000;
  }

  .footer .dropdown-menu > li > a {
    color:#fff;
  }

  .footer .form-control:focus {
    box-shadow: none;
  }

  .footer .dropdown a {
    text-align: left;
    color:#9f9b9b!important;
  }

  select {
    height: auto !important;
    padding: 0.3em 0.5em !important;
  }

  textarea.form-control {
    min-height: 50px;
    height:90px;
  }
  
  .copyright {
    color: #fff;
    margin-top: 15%;
  }

  p.footer-links a {
    color: #fff;
  }

  button.dropbtn.white.directions {
    padding: 10px;
    background: #404041;
  	border:none;
  }

  #reason option:checked {
    color: #fff;
  }

.single_process{
  display: flex;
  text-align: left;
  gap: 30px;
  align-items: center;
}
.single_process img{
  max-width: 70px;
}

/* our team */

.our_team_main{
  display: flex;
  flex-wrap: wrap;
      justify-content: center;
}
.our_team_wrapper img{
  max-width: 210px;
}
.our_team_wrapper p{
  font-size: 19px;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}
.our_team_main .team_column{
  flex: 0 0 20%;
  box-sizing: border-box;
}


/* Internet Exlorer */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
  .form-control{
    -border-radius: 0;
    -font-size: 11px;
    -height: auto;
    -margin-bottom: 0.5em;
    -padding: 0.3em 0.8em;
  }

  .send-now-btn{
    -background: #6C6D70;
    -border: none;
    -color: #FFF;
    -cursor: pointer;
    -float: right;
    -margin-top: 0.3em;
    -padding: 0 0.8em;  
  }

  .send-now-btn:hover,
  .send-now-btn:active,
  .send-now-btn:focus{
    -background: #FFFFFF;
    -color: #6C6D70;
  }
  
  .location-btn{
    -background-color: #3E3E3F;
    -border: none;
    -color: #F8FFED;
    -cursor: pointer;
    -margin-top: 0.3em;
    -padding: 0.5em 1em;
  }
  #footer .dropdown-menu li{
    -cursor: pointer;
  }

  #footer .dropdown-menu li:active,
  #footer .dropdown-menu li:focus,
  #footer .dropdown-menu li:hover{
    -background: #FFFFFF;
    -color: #000;
  }

  #footer .form-control:focus {
    -box-shadow: none;
  }

  #footer .dropdown a {
    -text-align: left;
  }

  form {
    -color: #CCC;
  }
  select{
    -height: auto !important;
    -padding: 0.3em 0.5em !important;
  }

  textarea{
    -min-height: 10em;
  }
}



/*Mozzila */

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #fff;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    #fff;
  }

  ::placeholder { /* Most modern browsers support this now. */
     color:    #fff;
  }

  @-moz-document url-prefix() { 

     .card-header .btn-link i {    margin-top:-20px;  }

  }
