# Ignore all .log files
*.log

# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

/SharedFiles
Sinyar Hospitality - Company Profile.pdf
Website Review 11.07 - done.docx